@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@theme {
    --color-primary: #09c;    
    --color-borderColor: #E7E5E4;
    --color-secondary: #0F172A;
    --color-grey:#64748B;
    --color-background-light: #F5F6F8;
    --drop-shadow-main: 0 10px 15px rgba(0, 0, 0, 0.1);
    --shadow-soft:0 4px 20px -2px rgba(0, 0, 0, 0.05);
    --font-base:"Manrope", sans-serif;

    
}
@layer base {
    body {
        @apply bg-background-light w-full font-base;
    }
}

@layer components {
    .btn-primary {
        @apply bg-primary border-2 border-primary rounded-full text-white  px-6 py-1.5 mx-1.5 hover:bg-white hover:border-2 hover:border-primary hover:text-primary  transition cursor-pointer
    }
    .input{
      @apply  bg-background-light border border-borderColor rounded-full px-3 py-3 w-full focus:outline-none focus:border-transparent focus:ring-2 focus:ring-primary/35 caret-primary
    }
    .form{
         @apply w-full xl:w-[35%] md:w-[50%] border-borderColor bg-white shadow-soft rounded-3xl flex flex-col items-center py-8 px-4 mt-4;
    }
    .label{
        @apply self-start ml-3 text-secondary font-medium my-1
    }
}
